body {
  background-color: #f0ebf8;
}

#subete {
  margin: auto;
}

div {
  width: 640px;
}

input {
  width: 100%;
}

.ue {
  background-color: #ffffff;
  margin: 12px 0;
  padding: 22px 24px 16px;
  border-radius: 8px;
}

.ka-do {
  background-color: #ffffff;
  margin-bottom: 12px;
  padding: 24px;
  border-radius: 8px;
}

.need-red {
  color: #e30202;
}
