body {
  background-color: #f0ebf8;
}

#subete {
  width: 640px;
  margin: auto;
}

h1 {
  font-weight: 350;
  margin: 12px 0;
}

.hidari {
  padding-left: 24px;
}

.ue {
  background-color: #ffffff;
  margin: 12px 0;
  border-radius: 8px;
  box-sizing: border-box;
  border: 1px solid #dadce0;
  border-top: 10px solid #673ab7;
}

.ka-do {
  background-color: #ffffff;
  margin-bottom: 12px;
  padding: 24px;
  border-radius: 8px;
  box-sizing: border-box;
  border: 1px, solid, #dadce0;
}

.need-red {
  color: #e30202;
}

.gore- {
  font-size: 11px;
  color: #9ea3a5;
}

.shita {
  font-size: 12px;
  color: #525564;
}

#todoku {
  background-color: #673ab7;
  color: #ffffff;
  box-sizing: border-box;
  width: 76px;
  height: 36px;
}

#kuria {
  color: #673ab7;
  background-color: #f0ebf8;
  border: none;
}

#osu {
  display: flex;
  justify-content: space-between;
}

.mid {
  text-align: center;
}

#Google {
  font-weight: 500;
  font-size: 24px;
  color: #6c7083;
}

input {
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 1px solid #e0e0e0;
  padding-left: 0;
  padding-top: 20px;
  padding-bottom: 4px;
}

input:focus {
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 2px solid #673ab7;
  padding-left: 0;
  padding-top: 20px;
  padding-bottom: 4px;
  outline: none;
}
